@if (!string.IsNullOrEmpty(DisplayMessage))
{
    var isError = DisplayMessage.StartsWith("Error");
    var alertClass = isError ? "alert-error" : "alert-success";
    var iconName = isError ? "alert-triangle" : "check";
    <div class="alert @alertClass mb-4" role="alert">
        <Icon Name="@iconName" Class="size-5" />
        <span>@DisplayMessage</span>
    </div>
}

@code {
    private string? messageFromCookie;

    [Parameter]
    public string? Message { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {
        messageFromCookie = HttpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];

        if (messageFromCookie is not null)
        {
            HttpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
        }
    }
}
