@inherits LayoutComponentBase
@layout MainLayout
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-light py-3 card shadow" style="min-height:calc(100vh - 200px)">
            <AuthorizeView>
                <Authorized>
                    <h6 class="text-center font-weight-bold">Welcome @context.User.GetNameOfUser()</h6>
                </Authorized>
            </AuthorizeView>
            <hr />
            <div class="list-group">
                <NavLink class="list-group-item list-group-item-action" href="admin/manage-categories">Manage Categories</NavLink>
                <NavLink class="list-group-item list-group-item-action" href="admin/manage-posts">Manage Posts</NavLink>
                <NavLink class="list-group-item list-group-item-action" href="admin/manage-subscriber">Manage Subscribers</NavLink>
                <div class="list-group-item list-group-item-action">
                    <LogoutForm />
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @Body
        </div>
    </div>
</div>
